<div fxFlex fxLayout="column">
	<h2>Editar un cliente</h2>
	<form [formGroup]="dataClient" (ngSubmit)="onSubmit(dataClient.value)">
		    <mat-form-field class="example-full-width" >
		      <mat-label>Rut</mat-label>
		      <input matInput placeholder="rut" formControlName="rut" required>
		      <mat-error *ngIf="!dataClient.controls['rut'].valid">{{getErrorMessageRut()}}</mat-error>
		    </mat-form-field>
		    <mat-form-field class="example-full-width" >
		      <mat-label>Correo electrónico</mat-label>
		      <input matInput placeholder="cl@ejemplo.com" formControlName="email" required>
		      <mat-error *ngIf="!dataClient.controls['email'].valid">{{getErrorMessageEmail()}}</mat-error>
		    </mat-form-field>
		    <mat-form-field class="example-full-width" >
		      <mat-label>Nombre</mat-label>
		      <input matInput placeholder="Nombre" formControlName="nombre" required>
		      <mat-error *ngIf="!dataClient.controls['nombre'].valid">{{getErrorMessageNombre()}}</mat-error>
		    </mat-form-field>
		       <mat-form-field class="example-full-width">
			   <mat-label>Número de Teléfono</mat-label>
				<span matPrefix>+56 &nbsp;</span>
				 <input formControlName="telefono" type="tel" matInput placeholder="555-555-1234">
				 <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="!dataClient.controls['telefono'].valid">{{getErrorMessageTelefono()}}</mat-error>
		   </mat-form-field>
		   	<mat-form-field>
			    <mat-label>Comuna</mat-label>
			    <mat-select formControlName="comuna" name="comuna">
			      <mat-option *ngFor="let comu of comunac" [value]="comu.id">
			        {{comu.name}} 
			      </mat-option>
			    </mat-select>
            <mat-error *ngIf="!dataClient.controls['comuna'].valid">{{getErrorMessageComuna()}}</mat-error>
        </mat-form-field>
		   	<mat-form-field>
			    <mat-label>Ciudad</mat-label>
			    <mat-select formControlName="ciudad" name="ciudad">
			      <mat-option *ngFor="let ciu of ciudadd" [value]="ciu.id">
			        {{ciu.name}} 
			      </mat-option>
			    </mat-select>
            <mat-error *ngIf="!dataClient.controls['ciudad'].valid">{{getErrorMessageCiudad()}}</mat-error>
        </mat-form-field>
 		<mat-form-field>
                    <mat-label> Dirección</mat-label>
                    <textarea matInput
                              placeholder="Dirección del cliente"
                             formControlName="direccion" required></textarea>

            <mat-error *ngIf="!dataClient.controls['direccion'].valid">{{getErrorMessageDireccion()}}</mat-error>
              </mat-form-field>
              	<mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-indeterminate-contact"></mat-progress-bar>
		           	<button mat-raised-button [disabled]="dataClient.invalid" type="submit" class="button-contact">Enviar</button>
		           	 <mat-error *ngIf="errorPeticion"> Ha ocurrido un error inesperado, por favor intente más tarde.</mat-error>
		      </form>
</div>