<div fxFlex="101vh" fxLayout="column" class="services-content" style="background-color: white;">
	<div fxFlex="10" fxLayout="row" fxLayoutAlign="center center" class="services-title">
		<h2>Servicios</h2>
	</div>
	<div fxFlex fxLayoutAlign="space-evenly center" fxLayoutAlign.xs="center center" fxLayoutAlign.md="space-evenly center" fxLayoutAlign.md="space-evenly center" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2px" class="services-card">
			<mat-card fxFlex="1 1 12em" fxFlex.xs="1 1 " fxFlex.md="1 1"  fxFlex.sm="1 1" fxFlex.lg="1 1 16em"  *ngFor="let ser of servicios"  class="card-services">
			<mat-card-content>
 			<img src="{{ser.image}}" alt="{{ser.alt}}" class="img-service" />
        	<h2 mat-card-title>{{ser.name}}</h2>
 			</mat-card-content>
			</mat-card>
	</div>
</div>