<div fxFlex="101vh" fxLayout="row" fxLayout.xs="column"  class="about-us" id="acerca"e> 
 <div fxFlex="100" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="about-us-margin">
	<div fxFlex="60" fxFlex.xs="55vh" fxFlex.sm="55vh" fxLayout="column" fxLayoutAlign="center start" class="about-us-content">
		<section fxFlex="100" fxLayout="column" fxLayoutAlign="start" class="about-us-information">
			<h2>
				<strong>A</strong>cerca de Nosotros
			</h2>
			<p class="about-us-information-p">
				<strong>S</strong>omos una empresa de larga data en Chile sobre seguridad que hace un monton de cosas que no se que tio pero es que que estoy escribiendo entonces este es un texto de relleno porque no me sirve el lorem y no se que poner así que escribo esto como relleno que ha quedado bastante bien hasta el momento o eso creo no se pero un poquito más y ya queda como texto de relleno de 10, aunque sinceramente esto ya es como que mucho texto, va a tener que escribir que jode el Brian pa rellenar esto, al parecer faltan como dos lineas más y no tengo ni puta idea de que escribir, caray.
			</p>
			<p class="about-us-information-p" fxHide.xs>
				Este es el resto del texto de relleno que no se necesita mucho pero si un poco para que se vea bien y así, sinceramente no tengo ni idea de que poner aquí porque caramba, que se puede poner, yo no se.
			</p>
		</section>
	</div>	
	<div fxFlex="40" fxFlex.xs="46vh" fxFlex.sm="46vh" fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center"  class="about-us-img-cont">
		<div fxFlex="65" fxLayout="column" fxFlex.sm="100" fxFlex.xs="100" fxLayoutAlign="center start" fxLayoutAlign.sm="center center" class="img-about-us">
			<img src="assets/thum.png" alt="imagen bien chevere" /> 
		</div>
	</div>
	</div>
</div>	