:host {
	display: flex;
	flex-direction:column;
	height: 100%;
}

nav {
    height: 12vh;
    margin-top: 10px;
    position: relative;
}

.line {
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 5px;
        border-radius: 3px;
    }
.hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top:35%;
        transform: translateY(-5%, -50%);
        z-index: 2;
        transition: all 0.5 ease 0.1s;
    }

@media screen and (max-width: 959px){
    
    .nav-links.open ~ .hamburger:nth-child(1){
    transform: translateY(10%, 50%); 
    }
    .primero {
    position: absolute;
    top: 45%;
    right: 5%;
    background: #ae5fce;
    transform: rotate(135deg);
    width: 35px;
    background-color: white;
    transition: all 0.5s ease 0.2s;
    }
    .segundo {
    display: none;
    transition: all ease 1s;
    }
    .tercero {
        position: absolute;
        top: 45%;
        right: 5%;
        background: white;
        transform: rotate(45deg);
        width: 35px;
        transition: all 0.5s ease 0.2s;
    }
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

mat-sidenav{
  
}

@media (min-width: 576px) {
    mat-sidenav{
      width: 60% !important;
    }
}
@media (min-width: 768px) {
    mat-sidenav{
      width: 40% !important;
    }
}
@media (min-width: 992px) {
    mat-sidenav{
      width: 30% !important;
    }
    
}
@media (min-width: 1200px) {
    mat-sidenav{
      width: 30% !important;
    }
}

