      <nav>
      <div class="hamburger" (click)="sidenav.open()">
        <div class="line" id="primero"></div>
        <div class="line" id="segundo"></div>
        <div class="line" id="tercero"></div>
    </div>
    </nav>
  <mat-sidenav-container class="example-container">

   <mat-sidenav [ngStyle]="{'width': width  +'%' }"
    (setWidth) = "setWidth ($event) "
    appOpenSidebarOnSwipe #sidenav mode = "over" >            
      <mat-toolbar color="accent">
          <span> Menú </span>
      </mat-toolbar>
      <mat-nav-list>
          <a mat-list-item href="#">Inicio</a>
          <a mat-list-item href="#acerca">Acerca de nosotros</a>
          <a mat-list-item href="#">Servicios</a>
          <a mat-list-item href="#">Contáctanos</a>
          <a mat-list-item class="sign-in" routerLink="/login">Iniciar Sesión</a>
      </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content>
      <app-inicio></app-inicio>
      <app-quienes-somos></app-quienes-somos>
      <app-services></app-services>
      <app-contactanos></app-contactanos>
      <app-footer></app-footer>
   </mat-sidenav-content>

</mat-sidenav-container>
  	